<h1>Songs</h1>
<ul>
  <% @songs.each do |song| %>
    <li><p><%= link_to song.name, song %></p>
      <%= link_to song.artist.name, song.artist %>
      <%= link_to song.genre.name, song.genre %>
    </li>
  <% end %>
</ul>
